body {
  background-color: rgb(139, 30, 202);
  font-family: normal 20pt arial;
  margin: 0;
}
h1 {
  color: #04bf68;
}
input {
  border: none;
  margin: 20px 10px;
  border-radius: 5%;
  padding: 10px;
  font-size: 19px;
}
.font19 {
  font-size: 19px;
}
.btn {
  background-color: #0e4b1d;
  color: #ffff;
  padding: 15px;
  font-size: 18px;
  width: 100px;
  border-radius: 6%;
  cursor: pointer;
  margin: 30px auto;
  border: none;
}
.form {
  background-color: #232426;
  color: #ffff;
  padding: 70px;
  margin: auto;
  height: auto;
  width: 300px;
  border-radius: 5%;
  position: relative;
  left: auto;
  top: 20%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.678);
}

#conteiner {
  max-width: 100%;
  height: 100vh;
}
.textcenter {
  text-align: center;
}
